<div class="jumbotron" style="background-color: <%= @final_color %>;">
  <h1 class="display-4"><%= @final %></h1>
  <p class="lead"><%= @description %></p>
  <hr class="my-4">
  <p>If its take time to load the data reload the page once.</p>
</div>